<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
            <div class="footer">
              <hr/>
              <span >Copyright © 2022 Eman Mohamed Abdelwahed . All rights reserved</span>  
              <hr/>
            </div>   
      </body>
</html>