<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
          <h2 class="hedt"> {{title}} page  </h2>
         <div class="header">
             <a href="/"> HOME</a>
             <a href="/service"> SERVICE</a>
             <a href="/about"> ABOUT</a>
             </div>
      </body>
</html>