<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
             <h2> {{>header}}  </h2>
             <h2> {{title}}  </h2>
             <h2> service1 is : {{service1}} </h2>
             <h2> service2 is : {{service2}} </h2>
             <h2> service3 is  : {{service3}} </h2>
              <h2> {{>footer}}  </h2>
      </body>
</html>